[package]
name = "rdtsc_timer_rogflow"
version = "0.1.0"
edition = "2024"

[dependencies]
libc = "0.2.177"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
overflow-checks = false
debug = false

